body {
padding-top: 10rem;
padding-bottom: 3rem;
color: #5a5a5a;
}

@font-face {
  font-family: HennyPenny;
  src: url(../fonts/hennypenny-regular.ttf);
}

p.fun,
h1.fun,
h4.fun {
  font-family: "HennyPenny","Times New Roman", Times, serif;
}

/* Style the links inside the pill navigation menu */
.pill-nav a {
  display: inline-b lock;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  background-color: #F6B63C;
}

/* Change the color of links on mouse-over */
.pill-nav a:hover {
  background-color: #C8702A;
  color: black;
}

/* Add a color to the active/current link */
.pill-nav a.active {
  background-color: Gold;
  /*color: white;*/
}

.pill-nav li {
    margin-right: 15px; //use whatever you want
}

.andy_blue{
  color: #2472B5;
}

.andy_bg_blue{
  background-color: #2472B5;
}

.andy_yellow{
  color: #F6B63C;
}

.andy_bg_yellow{
  background-color: #F6B63C;
}

.andy_red{
  color: #BB0B24;
}

.andy_bg_red{
  background-color: #BB0B24;
}

.andy_green{
  color: #377229;
}

.andy_bg_green{
  background-color: #377229;
}

.navbar-toggler .line{
width: 100%;
float: left;
height: 2px;
/* background-color: #fff; */
margin-bottom: 5px;
}

.navbar-toggler{
width: 47px;
height: 34px;
/* background-color: #7eb444; */
}
